# node_modules
# build
# dist
# .dockerignore
# Dockerfile
# README.md
# src
# public
# package.json
# npm-debug.log
# yarn-error.log
# docker-compose.yml

node_modules
dist
.git
Dockerfile
.dockerignore
