.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    width: 100%;
}

.card {
    margin: 20px;
    padding: 20px;
    text-align: left;
    font-size:26px ;
    width: 300px;
    height: 200px;
    border: 2px solid rgba(217, 217, 217, 0.5);    
}

.card p{
    font-size: 26px ;
    font-weight: lighter;
}
